*{
  padding: 0;
  margin: 0;
}

.navbar{
  background-color:yellowgreen;
}
h1,h2{
  color: blue;
  font-size: 30px;
}
.about-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.about-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-page p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.contact-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.contact-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-page label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-page input,
.contact-page textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  margin-top: 5px;
}

.contact-page textarea {
  height: 150px;
}

.contact-page button {
  background-color: blue;
  color: white;
  
}
.home-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.home-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home-page p {
  font-size: 24px;
}


